---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=<AMADEUS_KEY>&client_secret=<AMADEUS_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-09fb9c7ac35cffd13-b-de-6891-102364215-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"smog3719@gmail.com\",\n            \"application_name\": \"Test\",\n            \"client_id\":
        \"<AMADEUS_KEY>\",\n            \"token_type\": \"Bearer\",\n            \"access_token\":
        \"lkphXnmZxEuz1Owvfn4WCp4Xp1EN\",\n            \"expires_in\": 1799,\n            \"state\":
        \"approved\",\n            \"scope\": \"\"\n        }\n        "
  recorded_at: Fri, 06 Jan 2023 18:13:07 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=Invalid_Length
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer lkphXnmZxEuz1Owvfn4WCp4Xp1EN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001A47QFO2T9W
      Ama-Gateway-Request-Id:
      - rrt-09fb9c7ac35cffd13-b-de-6891-102364313-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors" : [ {
            "code" : 477,
            "title" : "INVALID FORMAT",
            "detail" : "Format of query parameter 'departureAirportCode' should be Alpha",
            "source" : {
              "parameter" : "departureAirportCode",
              "example" : "BLR"
            },
            "status" : 400
          }, {
            "code" : 2781,
            "title" : "INVALID LENGTH",
            "detail" : "Length of query parameter 'departureAirportCode' should be 3",
            "source" : {
              "parameter" : "departureAirportCode",
              "example" : "BLR"
            },
            "status" : 400
          } ]
        }
  recorded_at: Fri, 06 Jan 2023 18:13:08 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=XYZ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer lkphXnmZxEuz1Owvfn4WCp4Xp1EN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001JV4X1O2T9X
      Ama-Gateway-Request-Id:
      - rrt-09fb9c7ac35cffd13-b-de-6891-102364451-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "errors" : [ {
            "code" : 4926,
            "title" : "INVALID DATA RECEIVED",
            "detail" : "Departure airport code is not supported",
            "source" : {
              "parameter" : "departureAirportCode"
            },
            "status" : 400
          } ]
        }
  recorded_at: Fri, 06 Jan 2023 18:13:09 GMT
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=BAD_TOKEN&client_secret=BAD_SECRET
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-09fb9c7ac35cffd13-b-de-6892-102364550-1
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"error\":\"invalid_client\",\n
        \                   \"error_description\": \"Client credentials are invalid\",\n
        \                   \"code\": 38187,\n                    \"title\": \"Invalid
        parameters\"\n                }\n            "
  recorded_at: Fri, 06 Jan 2023 18:13:10 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - 'Bearer '
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Www-Authenticate:
      - 'Bearer realm="null",error="invalid_token",error_description="oauth.v2.InvalidAccessToken:
        Invalid access token"'
      Ama-Gateway-Request-Id:
      - rrt-0b4dcff0e7155884c-b-de-1059-102392806-1
    body:
      encoding: ASCII-8BIT
      string: "\n            {\n                \"errors\": [\n                        {\n
        \                           \"code\": 38191,\n                            \"title\":
        \"Invalid HTTP header\",\n                            \"detail\": \"Missing
        or invalid format for mandatory Authorization header\",\n                            \"status\":
        401\n                        }\n                ]\n            }\n        "
  recorded_at: Fri, 06 Jan 2023 18:13:12 GMT
- request:
    method: get
    uri: https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer lkphXnmZxEuz1Owvfn4WCp4Xp1EN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001A47RLO2TA1
      Ama-Gateway-Request-Id:
      - rrt-0b4dcff0e7155884c-b-de-1061-102392865-1
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "meta" : {
            "count" : 97,
            "links" : {
              "self" : "https://test.api.amadeus.com/v1/airport/direct-destinations?departureAirportCode=TPE"
            }
          },
          "data" : [ {
            "type" : "location",
            "subtype" : "city",
            "name" : "AUCKLAND",
            "iataCode" : "AKL"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AMSTERDAM",
            "iataCode" : "AMS"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "AOMORI",
            "iataCode" : "AOJ"
          }, {
            "type" : "location",
            "subtype" : "city",
            "name" : "BEIJING",
            "iataCode" : "BJS"
          }, {
            "type" : "location",
            "su[...]
[...]
- request:
    method: post
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: UTF-8
      string: '{"currencyCode":"USD","originDestinations":[{"id":1,"originLocationCode":"TPE","destinationLocationCode":"MAD","departureDateTimeRange":{"date":"2023-02-11"}},{"id":2,"originLocationCode":"MAD","destinationLocationCode":"TPE","departureDateTimeRange":{"date":"2023-02-28"}}],"travelers":[{"id":1,"travelerType":"ADULT"},{"id":2,"travelerType":"CHILD"},{"id":3,"travelerType":"CHILD"}],"sources":["GDS"]}'
    headers:
      Authorization:
      - Bearer lkphXnmZxEuz1Owvfn4WCp4Xp1EN
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001JV4ZUO2TAB
      Ama-Gateway-Request-Id:
      - rrt-072d362993a5a3447-a-de-9024-102509698-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":59},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"lastTicketingDate":"2023-01-09","numberOfBookableSeats":4,"itineraries":[{"duration":"PT28H25M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2023-02-11T13:55:00"},"arrival":{"iataCode":"BKK","at":"2023-02-11T16:50:00"},"carrierCode":"LH","number":"9729","aircraft":{"code":"777"},"operating":{"carrierCode":"TG"},"duration":"PT3H55M","id":"11","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"BKK","at":"2023-02-11T23:55:00"},"arrival":{"iataCode":"MUC","terminal":"2","at":"2023-02-12T05:55:00"},"carrierCode":"LH","number":"773","aircraft":{"code":"359"},"operating":{"carrierCode":"LH"},"duration":"PT12H","id":"12","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"MUC","terminal":"2","at":"2023-02-12T08:40:00"},"arrival":{"iataCode":"MAD","terminal":"2","at":"2023-02-12T11:20:00"},"carrierCode":"LH","number":"1800","aircraft":{"code"[...]
